/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: var(--deep);
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block;
    /* 區塊按鈕 */
    color: var(--deep);
    text-decoration: none;
}

/* --------------------------下為輪播------------------------ */

#banner {
    height: 100vh;
    color: #fff;
    background-color: #222;
}

#banner .content-slider {
    position: relative;
    width: 100%;
    height: 100%;
}

#banner .content-slider input {
    display: none;
}

#banner .content-slider .slider {
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
}

#banner .content-slider .slider .banner {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    width: inherit;
    height: inherit;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all 0.5s ease;
}

#banner .content-slider .slider .banner .banner-inner-wrapper {
    height: 100%;
    padding-top: 20vh;
    background-image: linear-gradient(rgba(243, 129, 243, 0.2), rgba(138, 159, 252, 0.1));
    box-sizing: border-box;
}

#banner .content-slider .slider .banner .banner-inner-wrapper h2 {
    padding-bottom: 0.3em;
    font-family: openhuninn, sans-serif;
    /* font-family: 'Kaushan Script', cursive; */
    font-weight: 400;
    font-size: 2.5em;
    text-transform: none;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
}

#banner .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-size: 6em;
    line-height: 95%;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    font-family: LEMONMILK, sans-serif;
}

#banner .content-slider .slider .banner .banner-inner-wrapper .line {
    display: block;
    width: 4em;
    height: 0.1875em;
    margin: 2.5em auto;
    background: #fff;
}

#banner .content-slider .slider .banner .banner-inner-wrapper .learn-more-button {
    padding-bottom: 5em;
    z-index: 15 !important;
}

#banner .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a {
    padding: 0.5em 2em;
    text-align: center;
    font-family: LEMONMILK, sans-serif;
    /* font-family: Montserrat, sans-serif; */
    font-size: 0.875em;
    color: #fff;
    text-transform: uppercase;
    border: 0.1875em solid #fff;

    width: 300px;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
    /* text-shadow: 0px 0px 5px rgba(0, 0, 0, .3); */
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, .3); */
}

#banner .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
    color: #333;
    border-color: rgba(0, 0, 0, .5);
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.4);
}

#banner .content-slider .slider #top-banner-1 {
    background: url('./images/banner_1.jpg') no-repeat center center;
    background-size: cover;
}

#banner .content-slider .slider #top-banner-2 {
    background: url('./images/banner_2.jpg') no-repeat center center;
    background-size: cover;
}

#banner .content-slider .slider #top-banner-3 {
    background: url('./images/banner_3.jpg') no-repeat center center;
    background-size: cover;
}

#banner .content-slider .slider #top-banner-4 {
    background: url('./images/banner_4.jpg') no-repeat center center;
    background-size: cover;
}

#banner .content-slider .slider #top-banner-5 {
    background: url('./images/banner_5.jpg') no-repeat center center;
    background-size: cover;
}


#banner .content-slider nav {
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    z-index: 10;
    text-align: center;
}

#banner .content-slider nav .controls {
    display: block;
    width: 80%;
    margin: 0 auto;
    /* font-family: Montserrat, sans-serif; */
    color: #fff;
}

#banner .content-slider nav .controls label {
    position: relative;
    display: inline-block;
    width: 15%;
    height: 3.1em;
    overflow: hidden;
    margin: 0 1em;
    padding-top: 1em;
    text-align: left;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .3));
}

#banner .content-slider nav .controls label .progressbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
    border-radius: 99px;
    overflow: hidden;
    background: #fff;
    z-index: 100;
}

#banner .content-slider nav .controls label .progressbar .progressbar-fill {
    position: inherit;
    width: inherit;
    height: inherit;
    margin-left: -100%;
    background: #e88382;
}

#banner .content-slider nav .controls label span {
    font-size: 1.4em;
    font-weight: 700;
}

#banner .content-slider nav .controls label:hover {
    color: #e88382;
}

#banner .content-slider #banner1:checked~.slider #top-banner-1,
#banner .content-slider #banner2:checked~.slider #top-banner-2,
#banner .content-slider #banner3:checked~.slider #top-banner-3,
#banner .content-slider #banner4:checked~.slider #top-banner-4,
#banner .content-slider #banner5:checked~.slider #top-banner-5 {
    opacity: 1;
    z-index: 1;
}

#banner .content-slider #banner1:checked~nav label:nth-of-type(1),
#banner .content-slider #banner2:checked~nav label:nth-of-type(2),
#banner .content-slider #banner3:checked~nav label:nth-of-type(3),
#banner .content-slider #banner4:checked~nav label:nth-of-type(4),
#banner .content-slider #banner5:checked~nav label:nth-of-type(5) {
    cursor: default;
    color: #fff;
    transition: all 0.5s;
}

#banner .content-slider #banner1:checked~nav label:nth-of-type(1) .progressbar,
#banner .content-slider #banner2:checked~nav label:nth-of-type(2) .progressbar,
#banner .content-slider #banner3:checked~nav label:nth-of-type(3) .progressbar,
#banner .content-slider #banner4:checked~nav label:nth-of-type(4) .progressbar,
#banner .content-slider #banner5:checked~nav label:nth-of-type(5) .progressbar {
    background: #fff;
}

#banner .content-slider #banner1:checked~nav label:nth-of-type(1) .progressbar-fill,
#banner .content-slider #banner2:checked~nav label:nth-of-type(2) .progressbar-fill,
#banner .content-slider #banner3:checked~nav label:nth-of-type(3) .progressbar-fill,
#banner .content-slider #banner4:checked~nav label:nth-of-type(4) .progressbar-fill,
#banner .content-slider #banner5:checked~nav label:nth-of-type(5) .progressbar-fill {
    animation: progressBarFill 5s linear;
}

/* Animations */
@keyframes progressBarFill {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0;
    }
}